.game {
  display: grid;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  .error {
    color: #d00000;
    place-self: center;
  }
  .loading {
    color: #a0a0a0;
    place-self: center;
  }
}
