@import "../../theme.scss";

.container {
  position: relative;
}

.overlay {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  display: grid;
  background-color: transparentize($modal-backdrop-bg, $modal-backdrop-opacity);
}

.dialog {
  place-self: stretch;
  max-width: 100%;
  max-height: 100%;
  margin: $modal-dialog-margin;

  > :global(.modal-content) {
    height: 100%;
    background-color: $modal-content-bg;
    opacity: 0.95;

    :global(.modal-footer) {
      padding: 0;

      :global(.btn) {
        margin: 0;
        padding: $modal-inner-padding;
        min-width: 10rem;
      }
    }
  }
}
