{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": "supports webgl2 and supports async-functions"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-typescript",
            {
                "allowDeclareFields": true
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
    ]
}