.body {
  overflow-y: auto;
  flex: 1 1 0;
}

.cell {
  vertical-align: middle;
}

.entryLabel {
  margin: 0;
}

.table {
  margin-bottom: 20px;
}

.table th {
  padding: 8px 0;
  padding-right: 16px;
}

.table td {
  padding: 8px 0;
  padding-left: 16px;
}
