@import "../../../theme.scss";

.content {
  display: grid;
  grid-template:
    "list        list list" 1fr
    "create-room sep  actions" 120px /
    1fr 32px 1fr;
}

.roomList {
  grid-area: list;
  place-self: stretch;
  display: flex;
  flex-direction: column;

  .list {
    flex: 1 0 0;
    min-height: 0;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header,
  .item {
    display: grid;
    grid-template:
      "name count actions" 1fr /
      1fr 128px 192px;
    align-items: center;
  }

  .headerWrapper {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;

    .header {
      flex: 1 0 0;
      font-size: 12px;
      text-transform: uppercase;
      color: #a0a0a0;
      height: 24px;
    }

    .spacer {
      overflow-y: scroll;
      visibility: hidden;
    }
  }

  .item {
    height: 40px;

    > * {
      margin: 0 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:focus-within {
      background: rgba(#ffffff, 0.05);
    }
    &:hover {
      background: rgba(#ffffff, 0.1);
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    place-self: stretch;
    opacity: 0;

    .action {
      background: none;
      border: none;
      outline: none;
      color: inherit;
      padding: 0 16px;

      &:focus,
      &:hover {
        background: rgba(#ffffff, 0.05);
      }
    }
  }

  .item:hover,
  .item:focus-within {
    .actions {
      opacity: 1;
    }
  }
}

.createRoom {
  grid-area: create-room;

  .roomName {
    flex: 1 0 50%;
    margin-left: 8px;
  }

  .feedback {
    flex: 1 0 50%;
    display: block;
  }
}

.sep {
  width: 0px;
  border-left: rgba(#ffffff, 0.2) solid 1px;
  place-self: stretch center;
}
