.app {
  display: grid;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  grid-template:
    "gameA gameB" 550px
    "ctrl ctrl" auto
    "result result" 1fr /
    1fr 1fr;

  .gameA {
    grid-area: gameA;
    place-self: center;
  }

  .gameB {
    grid-area: gameB;
    place-self: center;
    border: none;
  }

  .ctrl {
    grid-area: ctrl;
    place-self: stretch;

    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 16px;
  }

  .result {
    grid-area: result;
    place-self: stretch;

    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 16px;
    overflow: hidden;
  }

  .field {
    display: grid;
    grid-template-columns: auto 100px;
    gap: 16px;

    .label {
      margin: 0;
      place-self: center end;
    }

    .input {
      place-self: stretch stretch;
    }
  }

  .recording {
    flex: 1;
    font-family: monospace;
  }
}

.positions {
  display: flex;
  flex-direction: column;
  width: 400px;

  .frame {
    width: 400px;
    height: 20px;
  }
  .list {
    flex: 1 0 0;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    color: #ddd;
    white-space: pre;
    overflow: hidden scroll;
    font-family: monospace;
    tab-size: 8;
  }
}
