.pane {
  background: rgba(#808080, 0.2);
  display: flex;
  flex-direction: column;
}

.info {
  height: 120px;
  padding: 16px;
  border-bottom: rgba(#ffffff, 0.1) solid 1px;
}

.roomName {
  font-size: 20px;
  color: #d0d0d0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.roomDetails {
  margin: 16px 0;
  display: flex;
  align-items: baseline;
  gap: 0 16px;
  white-space: pre;

  .levelLabel {
    flex: none;
    font-weight: bold;
  }

  .levelName {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .levelBtnList {
    flex: none;
    display: flex;
    flex-direction: row;
  }

  .levelBtn {
    width: 30px;
    height: 30px;
    padding: 0;
    background: none;
    border: none;
    fill: #f0f0f0;
    position: relative;
    top: -2px;

    &:focus {
      outline: none;
      background: rgba(#808080, 0.1);
    }
    &:hover {
      background: rgba(#808080, 0.2);
    }
  }

  .menuContainer {
    position: relative;
    flex: none;
  }

  .menu {
    display: none;
    list-style: none;
    right: 0;
    position: absolute;
    top: 30px;
    padding-top: 30px;
    width: 150px;
    margin: 0;
    padding: 0;
    background: #404040;
    border: 1px solid #808080;
  }

  .menuBtn {
    &:focus {
      outline: none;
      background: rgba(#808080, 0.1);
    }
    &:hover {
      background: rgba(#808080, 0.2);
    }
  }

  .menuContainerOpened {
    .menu {
      display: block;
    }
    .menuBtn {
      outline: none;
      background: rgba(#808080, 0.2);
    }
  }

  .menuCommand {
    display: block;
    width: 100%;
    height: 32px;
    font-size: 14px;
  }

  .menuCommandBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background: none;
    border: none;
    color: #f0f0f0;

    &:focus {
      outline: none;
      background: rgba(#808080, 0.1);
    }
    &:hover {
      background: rgba(#808080, 0.2);
    }
    &:disabled {
      opacity: 0.5;
    }
  }
}

.playerList {
  flex: 1 0 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.playerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 4px 16px;

  &:focus-within {
    background: rgba(#ffffff, 0.05);
  }
  &:hover {
    background: rgba(#ffffff, 0.1);
  }
}

.spectatorHeader {
  text-transform: uppercase;
  padding: 4px 8px;
  font-size: 12px;
  color: #808080;
}

.playerName {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.checkpointsCount {
  flex: 0;
  white-space: nowrap;
}
