name: Deploy

on:
  push:
    branches:
      - "master"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
          always-auth: true
          registry-url: 'https://npm.pkg.github.com/'
      - run: |
          yarn install --frozen-lockfile
          yarn format:check
          yarn tsc
          yarn build:data
          yarn build
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install SSH Client
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          SSH: true
          REPOSITORY_NAME: exit-path/exit-path.github.io
          BRANCH: gh-pages
          FOLDER: dist
          GIT_CONFIG_NAME: exit-path-bot
          GIT_CONFIG_EMAIL: 72936815+exit-path-bot@users.noreply.github.com
