@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("normalize.css");

html {
  font-family: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #202020;
  color: #e0e0e0;
}

::selection {
  background-color: rgba(96, 96, 96, 0.99);
}
