@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import "./theme.scss";

@import "~bootstrap/scss/bootstrap";

.modal-content {
  background-clip: unset;
}

html {
  letter-spacing: 0.01em;
}

::selection {
  background-color: rgba($gray-600, 0.9);
}
